<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbC63MvKBtxy3lK_9AxWNMXfKPREOhCDmJaA&usqp=CAU" alt="" width="150" height="150">
    <h1 class="display-5 fw-bold text-body-emphasis">Login Auth0 </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">¿Por que usar Auth0?
        Auth0 permite a los desarrolladores integrar múltiples métodos de autenticación, como los inicios de sesión sociales, el inicio de sesión único (SSO) y la autenticación multifactor (MFA), etc</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" (click)="login()" class="btn btn-primary btn-lg px-4 gap-3">Login</button>
           </div>
    </div>
  </div>